In [ ]:
from sqlalchemy import create_engine
import pandas as pd

DATABASE_URI = "sqlite:///fraud_detection.db" 

engine = create_engine(DATABASE_URI)

# Leer datos
accounts = pd.read_sql("SELECT * FROM accounts LIMIT 5", engine)
transactions = pd.read_sql("SELECT * FROM transactions LIMIT 5", engine)

print(accounts)
print(transactions)

  AccountID  CustomerAge CustomerOccupation  AccountBalance
0   AC00128           70             Doctor         5112.21
1   AC00455           68             Doctor        13758.91
2   AC00019           19            Student         1122.35
3   AC00070           26            Student         8569.06
4   AC00411           26            Student         7429.40
  TransactionID AccountID  TransactionAmount      TransactionDate  \
0      TX000001   AC00128              14.09  2023-04-11 16:29:14
1      TX000002   AC00455             376.24  2023-06-27 16:44:19
2      TX000003   AC00019             126.29  2023-07-10 18:16:08
3      TX000004   AC00070             184.50  2023-05-05 16:32:11
4      TX000005   AC00411              13.45  2023-10-16 17:51:24

  TransactionType   Location DeviceID       IPAddress MerchantID Channel  \
0           Debit  San Diego  D000380  162.198.218.92       M015     ATM
1           Debit    Houston  D000051     13.149.61.4       M052     ATM
2           Debit       Mesa  D000235  215.97.143.157       M009  Online
3           Debit    Raleigh  D000187  200.13.225.150       M002  Online
4          Credit    Atlanta  D000308    65.164.3.100       M091  Online

   Anomaly
0        1
1        1
2        1
3        1
4        1